.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99999; /* Força o modal a ficar à frente de tudo no site */
}

.modal__opened {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.modal__content {
  height: auto !important;
  width: auto !important;
  max-width: 100% !important;
}
.modal__container {
  position: relative !important;
  box-sizing: border-box !important;
  padding: 34px 36px 36px !important;
  width: 430px !important;
  height: 330px !important; /* Tamanho padrão ideal do projeto Around */
  border-radius: 10px !important;
  background-color: #ffffff !important;
}
.modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 60%;
}

.modal__title {
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  color: #000;
  margin: 0 28px 54px 0;
}

.modal__input {
  width: 100%;
  height: 28px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: transparent;
}

.modal__submit-button {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 18px;
}

.modal__submit-button:hover {
  opacity: 60%;
}
